/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.main-page {
  padding: 40px 15px;
  text-align: center;
}

[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
}
