{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- Example page of what a song page should look like -->
<h2>Grateful Dead Facts</h2>
<h3>Cassidy</h3>
<p>Cassidy was played a total of 27 times. It was first played on 3rd August 1973, and played for the last time on 19th June 1995, on average every 38.73 shows.</p>
<p>It was the 27th most played song, averaging a length of 7m 43s.</p>

<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<caption><strong>Top songs into<strong></caption>
			<thead>
				<tr>
					<th></th>
					<th>Song</th>
					<th class="text-center">#</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">#1</td>
					<td>Bird Song</td>
					<td class="text-center">9</td>
				</tr>
				<tr>
					<td class="text-center">#2</td>
					<td>Bertha</td>
					<td class="text-center">6</td>
				</tr>
				<tr>
					<td class="text-center">#3</td>
					<td>Row Jimmy</td>
					<td class="text-center">4</td>
				</tr>
				<tr>
					<td class="text-center">#4</td>
					<td>Terrapin Station</td>
					<td class="text-center">4</td>
				</tr>
				<tr>
					<td class="text-center">#5</td>
					<td>Trucking</td>
					<td class="text-center">1</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<caption><strong>Top songs out of</strong></caption>
			<thead>
				<tr>
					<th></th>
					<th>Song</th>
					<th class="text-center">#</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">#1</td>
					<td>Row Jimmy</td>
					<td class="text-center">5</td>
				</tr>
				<tr>
					<td class="text-center">#2</td>
					<td>Black Peter</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td class="text-center">#3</td>
					<td>Dark Star</td>
					<td class="text-center">2</td>
				</tr>
				<tr>
					<td class="text-center">#4</td>
					<td>Golden Road</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td class="text-center">#5</td>
					<td>Slipknot!</td>
					<td class="text-center">1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- Row -->
	
<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<caption><strong>Longest Versions<strong></caption>
			<thead>
				<tr>
					<th>Date</th>
					<th>Venue</th>
					<th>Length</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>3rd March 1970</td>
					<td>Winterland, SF</td>
					<td>11:34</td>
				</tr>
				<tr>
					<td>17th May 1980</td>
					<td>Anchorage, Alaska</td>
					<td>11:13</td>
				</tr>
				<tr>
					<td>4th June 1988</td>
					<td>Red Rocks</td>
					<td>10:49</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-bordered">
			<caption><strong>Shortest Versions</strong></caption>
			<thead>
				<tr>
					<th>Date</th>
					<th>Venue</th>
					<th>Length</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>23rd October, 1981</td>
					<td>The Rainbow, London</td>
					<td>4:13</td>
				</tr>
				<tr>
					<td>1st May 1982</td>
					<td>Felt Forum</td>
					<td>4:29</td>
				</tr>
				<tr>
					<td>19th June 1994</td>
					<td>Pepsi Auditorium</td>
					<td>4:51</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- Row -->

{% endblock %}
