{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link href="{% static "css/single_song.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<!-- Show one song -->
	<h3>{{ song.name}}</h3>
	
	<div class='top-display' id="use-width">
		<div class="song-table">
			<div class="song-header">
				Previous song
			</div>
			<div class="song-body">
				{% for song in songs_into %}
					<div class="song-row">
						<div class="song-name">
							{{ song.0 }}
						</div>
						<div class="song-times">
							{{ song.1 }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div><!-- End of song table -->
		<div class="song-table">
			<div class="song-header">
				Following song
			</div>
			<div class="song-body">
				{% for song in songs_out %}
					<div class="song-row">
						<div class="song-name">
							{{ song.0 }}
						</div>
						<div class="song-times">
							{{ song.1 }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div><!-- End of song table -->
	</div><!-- End of top display -->
	<canvas id="song-canvas"></canvas>
	<h3>Every Time Played</h3>
	<div class="every-time-played"></div>
	<p><a href="{% url 'all_songs' %}">Back to all songs</a></p>
	<div id="every-show">
		{% for show in every_show %}
			<a href="{{ show.id }}">{{ show.date }}</a>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
	{% verbatim %}
	<script id="single-year" type="text/x-handlebars-template">
		<div class="year-display">
			<div class="year-string">
				{{year}}
			</div>
			<div class="year-shows"></div>
		</div>
	</script>

	<script id="single-show" type="text/x-handlebars-template"></script>
		<div class="date-display">
			{{date}}
		</div>
	</script>
	{% endverbatim %}

	<script>
		YEAR_DATA = {{ years|safe }};
	</script>
	<script src="{% static "js/Chart.js" %}"></script>
	<script src="{% static "js/single_song.js" %}"></script>
	<script src="{% static "js/handlebars.js" %}"></script>
{% endblock %}
