<!doctype html>

{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Grateful Dead Songs</title>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/global.css" %}" rel="stylesheet">
	{% block css %}
	{% endblock %}
</head>

<body>
	<!-- Page starts here -->
	<div class="container">
		<!-- icons on right hand side -->
		<nav class="navbar navbar-default" style="border:0px;" id="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'all_shows' %}">Shows</a></li>
					<li><a href="{% url 'all_songs' %}">Songs</a></li>
					<li><a href="{% url 'all_venues' %}">Venues</a></li>
					<li><a href="{% url 'all_tours' %}">Tours</a></li>
					<li><a href="{% url 'add_show' %}">Add a new show</a></li>
					<li><a href="{% url 'select_venue' %}">Venue test</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href='#'>
						<span data-toggle="tooltip" title="About the site" data-placement="bottom"
							  class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size:1.5em;"></span>
					</a></li>
				</ul>
			</div>
		</nav>
	<!-- All main blocks are in a container -->
	{% block main %}
	{% endblock %}
	</div><!-- end of container -->
	
	<footer class="footer text-right">
		<div class="container">
			<p class="text-muted">(C)opr. Chris Handy 2016</p>
		</div>
	</footer>
	<script>
		var CSRF = "{{ csrf_token }}";
	</script>
	<script src="{% static "js/jquery-2.1.4.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	{% block scripts %}
	{% endblock %}
</body>

