<!doctype html>

{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Grateful Dead Songs</title>
	<link href="{% static "css/reset.css" %}" rel="stylesheet">
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
	{% block css %}
	{% endblock %}
</head>

<body>
	<div class="container" id="main">
		<div class="navbar">
			<a href="{% url 'index' %}" class="main">Home</a></li>
			<a href="{% url 'all_shows' %}">Shows</a></li>
			<a href="{% url 'all_songs' %}">Songs</a></li>
			<a href="{% url 'all_venues' %}">Venues</a></li>
			<a href="{% url 'all_tours' %}">Tours</a></li>
			<a href="{% url 'database_backup' %}">Backup DB</a></li>
			<a href="{% url 'test_edit' %}">Test edit</a></li>
			{% if user.is_authenticated %}
				<span id="pull-right" class="dropdown">
					Edit DB
					<div class="dropdown-content">
						<a href="{% url 'add_show' %}">Add a new show</a>
						<a href="{% url 'edit_shows' %}">Edit current shows</a>
					</div>
				</span>
				<a href="{% url 'logout_user' %}">Logout {{ user }}</a>
			{% else %}
				<a id="pull-right" href="{% url 'login_user' %}?next={{ request.path }}">Login</a>
			{% endif %}

		</div>
		{% block main %}
		{% endblock %}
	</div>
	<script>
		var CSRF = "{{ csrf_token }}";
	</script>
	<script src="{% static "js/jquery-2.1.4.js" %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
