/* For choosing the year to edit */

.year-display {
	display:flex;
	flex-direction: row;
	width: 100%;
}

.year-block {
	display: flex;
	flex-direction: row;
	background-color: #EEF;
}

.year-column {
	display: flex;
	flex-direction: column;
}

.year {
	color: #333;
	margin: 8px;
	cursor: default;
}

.year:hover {
	color: #999;
}

.results-block {
	display: flex;
	flex-direction: column;
}

.results-table {
	display: flex;
	flex-flow: row wrap;
}

.results-title {
	width: 100%;
}

.result {
	width: 20%;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	color: #333;
	text-decoration: none;
}

.result:hover {
	color: #999;
}
