/* For choosing the year to edit */

.display-block {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.year-block {
	display: flex;
	flex-direction: column;
	width: 10%;
}

.shows-block {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.title {
	width: 100%;
}

.col {
	cursor: pointer;
}

.col:hover {
	color: #999;
}

.show {
	width: 20%;
	text-decoration: none;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	cursor: default;
}

.show:hover {
	color: #999;
}
