/* CSS rules for test edit, using Flexbox */

.container {
	display: flex;
	flex-direction: column;
	width: 800px;
	background-color: #CCC;
	margin: auto;
	padding; 5px;
}

#show-title {
	padding: 12px;
}

.date-venue {
}

.show {
}

.hidden {
}

.song {
}
