{% extends 'base.html' %}
{% load static %}

{% block main %}
	<!-- Complex form to add shows -->
	<h3>Add a show</h3>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="exampleInputEmail1">Date of Show, MM/DD/YY</label>
				<input type="text" class="form-control" id="date-input" placeholder="Use XX if day/month/year is unknown, i.e. 10/xx/71">
			</div>
			<!-- Now we need some sets -->
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table" id="set1-table" style="table-layout:auto;">
						<caption>First Set</caption>
							<thead>
								<tr>
									<td>Song</td>
									<td>Seques?</td>
									<td>Length</td>
									<td>Comments</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input list="songs" /></td>
									<td><input type="checkbox" value="seque" /></td>
									<td><input type="text" /></td>
									<td><input type="text" /></textarea></td>
									<td>
										<button type="button" class="btn btn-default add-row-button" aria-label="Left Align"  data-toggle="tooltip" title="Add row">
											<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<button type="button" class="btn btn-default move-up-button" aria-label="Left Align" data-toggle="tooltip" title="Move up">
											<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<button type="button" class="btn btn-default move-down-button" aria-label="Left Align" data-toggle="tooltip" title="Move down">
											<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<button type="button" class="btn btn-default delete-button" aria-label="Left Align" data-toggle="tooltip" title="Delete song">
											<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</tbody>
					</table>
				</div>
			</div><!-- End of set panel -->
		</div>
	</div>

	<datalist id="songs">
	</datalist>
	
{% endblock %}

{% block scripts %}
	<script src="{% static "js/songs.js" %}"></script>
	<script src="{% static "js/add_show.js" %}"></script>
{% endblock %}

