{% extends 'base.html' %}
{% load static %}

{% block main %}
	<!-- Complex form to add shows -->
	<h3>Add a show</h3>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="show-date">Date of Show, MM/DD/YY</label>
				<input type="text" id="show-date" class="form-control" id="date-input" placeholder="Use XX if day/month/year is unknown, i.e. 10/xx/71">
			</div>
			<!-- Now we need some sets -->
			<div class="panel panel-default">
				<div class="panel-body">
				
					<ul class="nav nav-pills" data-tabs="tabs">
						<li class="active"><a data-toggle="tab" href="#set-one">Set 1</a></li>
						<li><a data-toggle="tab" href="#set-two">Set 2</a></li>
						<li><a data-toggle="tab" href="#set-three">Set 3</a></li>
						<li><a data-toggle="tab" href="#set-four">Set 4</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active fade in" id="set-one">
							<table class="table" id="set-table" style="table-layout:auto;">
								<thead>
									<tr>
										<td>Song</td>
										<td>Seques?</td>
										<td>Length (mm:ss)</td>
										<td>Comments</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr class="data-row">
										<td><div class="form-group"><input list="songs" class="form-control song-val" /></div></td>
										<td><div class="form-group"><input type="checkbox" class="form-control seque-val" value="seque" /></div></td>
										<td><div class="form-group"><input type="text" class="form-control length-val" /></div></td>
										<td><div class="form-group"><input type="text" class="form-control comment-val" /></div></td>
										<td>
											<button type="button" class="btn btn-default move-up-button" aria-label="Left Align" data-toggle="tooltip" title="Move up">
												<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
											</button>
										</td>
										<td>
											<button type="button" class="btn btn-default move-down-button" aria-label="Left Align" data-toggle="tooltip" title="Move down">
												<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
											</button>
										</td>
										<td>
											<button type="button" class="btn btn-danger delete-button" aria-label="Left Align" data-toggle="tooltip" title="Delete song">
												<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
											</button>
										</td>
										<td>
											<button type="button" class="btn btn-primary add-row-button" aria-label="Left Align"  data-toggle="tooltip" title="Add row">
												<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="set-two">
						</div>
						<div class="tab-pane fade" id="set-three">
						</div>
						<div class="tab-pane fade" id="set-four">
						</div>
					</div>

				</div>
			</div><!-- End of set panel -->
		</div>
	</div>

	<button class="btn btn-std pull-right" id="post-data">Verify and enter data</button>

	<datalist id="songs">
	</datalist>
	
{% endblock %}

{% block scripts %}
	<script>
		// all songs
		"use strict";
		var SONGS = [
			{% for song in songs %}
					 "{{ song.name }}",
			{% endfor %}
		];
	</script>
	<script src="{% static "js/add_show.js" %}"></script>
{% endblock %}

