{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link href="{% static "css/choose_year.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<h3>Please choose a year:</h3>
	<div class="display-block">
		<div class="year-block">
			<p class="col">1965</p>
			<p class="col">1966</p>
			<p class="col">1967</p>
			<p class="col">1968</p>
			<p class="col">1969</p>
			<p class="col">1970</p>
			<p class="col">1971</p>
			<p class="col">1972</p>
			<p class="col">1973</p>
			<p class="col">1974</p>
			<p class="col">1975</p>
			<p class="col">1976</p>
			<p class="col">1977</p>
			<p class="col">1978</p>
			<p class="col">1979</p>
		</div>
		<div class="year-block">
			<p class="col">1980</p>
			<p class="col">1981</p>
			<p class="col">1982</p>
			<p class="col">1983</p>
			<p class="col">1984</p>
			<p class="col">1985</p>
			<p class="col">1986</p>
			<p class="col">1987</p>
			<p class="col">1988</p>
			<p class="col">1989</p>
			<p class="col">1990</p>
			<p class="col">1991</p>
			<p class="col">1992</p>
			<p class="col">1993</p>
			<p class="col">1994</p>
			<p class="col">1995</p>
		</div>
		<div id="list-shows"></div>
	</div>
{% endblock %}

{% block scripts %}
	<!-- handlebars template to display results -->
	{% verbatim %}
	<script id="shows-in-year" type="text/x-handlebars-template">
		<h3 class="title">{{title}}</h3>
		<div class="shows-block">
			{{#each shows}}
				<a class="show" href="/shows/edit/{{id}}/">{{date}}</a>
			{{/each}}
		</div>
	</script>

	<!-- Dialog for delete / edit option -->
	<script id="dialog-template" type="text/x-handlebars-template">
		<div id="overlay"></div>
		<div id="dialog">
			<div id="dialog-header">
				{{title}}
			</div>
    		<div id="dialog-content">
    			<p>Do you with to edit or delete this show?</p>
    			<p>Choosing delete will delete the entire show.</p>
    		</div>
    		<div id="dialog-buttons">
    			<button id="dialog-close">Cancel</button>
    			<button id="dialog-delete">Delete</button>
    			<button id="dialog-edit">Edit Show</button>
    		</div>
		</div>
	</script>
	{% endverbatim %}
	<script src="{% static "js/handlebars.js" %}"></script>
	<script src="{% static "js/choose_year.js" %}"></script>
{% endblock %}
