{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link href="{% static "css/choose_year.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<h3>Please choose a year:</h3>
	<div class="display-block">
		<div class="year-block">
			<p class="col">1965</p>
			<p class="col">1966</p>
			<p class="col">1967</p>
			<p class="col">1968</p>
			<p class="col">1969</p>
		</div>
		<div class="year-block">
			<p class="col">1970</p>
			<p class="col">1971</p>
			<p class="col">1972</p>
			<p class="col">1973</p>
			<p class="col">1974</p>
		</div>
		<div class="year-block">
			<p class="col">1975</p>
			<p class="col">1976</p>
			<p class="col">1977</p>
			<p class="col">1978</p>
			<p class="col">1979</p>
		</div>
		<div class="year-block">
			<p class="col">1980</p>
			<p class="col">1981</p>
			<p class="col">1982</p>
			<p class="col">1983</p>
			<p class="col">1984</p>
		</div>
		<div class="year-block">
			<p class="col">1985</p>
			<p class="col">1986</p>
			<p class="col">1987</p>
			<p class="col">1988</p>
			<p class="col">1989</p>
		</div>
		<div class="year-block">
			<p class="col">1990</p>
			<p class="col">1991</p>
			<p class="col">1992</p>
			<p class="col">1993</p>
			<p class="col">1994</p>
		</div>
		<div class="year-block">
			<p class="col-center">1995</p>
		</div>
	</div>
	<div class="display-block" id="list-shows">
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static "js/choose_year.js" %}"></script>
{% endblock %}
