{% extends 'base.html' %}
{% load static %}

{% block main %}
	<h3>Choose a venue</h3>

	<div class="row">
		<div class="col-lg-12">
			<div class="form-inline">
				<select name="country" class="form-control" id="country-select">
					{% for country in countries %}
						<option value="{{ country }}">{{ country }}</option>
					{% endfor %}
				</select>
				<select name="state" class="form-control" id="state-select">
				</select>
			</div>
		</div>
	</div>
	<button class="btn btn-std pull-right" id="post-data">Check this</button>
{% endblock %}

{% block scripts %}
	<script>
		"use strict";
		
		// all states
		var STATES = [
			{% for state in states %}
					 "{{ state }}",
			{% endfor %}
		];
	</script>
	<script src="{% static "js/choose_venue.js" %}"></script>
{% endblock %}

