{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link href="{% static "css/test_edit.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<div id="show-show">
	</div>
	<div class="instructions">
		Click to edit, or drag and drop to re-order
	</div>
{% endblock %}

{% block scripts %}
	<!-- let's have the json file for the show -->
	<script src="{% static "data/shows/" %}{{ id }}.js"></script>

	{% verbatim %}
	<script id="show-display" type="text/x-handlebars-template">
		{{#each sets}}
		<div class="set">
			<div class="set-header">
				{{set_title}}
			</div>
			<ul class="set-body sortable">
			{{#each songs}}
				<li class="song ui-state-default">
					<div class="song-index">
						{{counter @index}}
					</div>
					<div class="song-name">
						{{name}} {{trans}} 
					</div>
					<div class="song-timing">
						{{length}}
					</div>
				</li>
			{{/each}}
			</ul>
		</div>
		{{/each}}
	</script>

	<!-- The actual dialog -->
	<script id="dialog-template" type="text/x-handlebars-template">
		<div id="overlay"></div>
		<div id="dialog">
			<div id="dialog-header">
				{{title}}
			</div>
    		<div id="dialog-content">
    			<!-- 3 simple inputs -->
				<div class="dialog-input">
					<p class="dialog-input-title">Song name</p>
					<input type="text" id="dialog-song-name" autocomplete="on" list="songs-datalist">
				</div>
				<div class="dialog-input">
					<p class="dialog-input-title">Seque?</p>
					<input type="checkbox" id="dialog-song-seque">
				</div>
				<div class="dialog-input">
					<p class="dialog-input-title">Length (mm:ss)</p>
					<input type="text" id="dialog-song-length">
				</div>
    		</div>
    		<div id="dialog-buttons">
    			<button id="dialog-close">Cancel</button>
    			<button id="dialog-save">Save</button>
    		</div>
		</div>
	</script>

	<!-- use handlebars to build the datalist for the songs autocomplete -->
	<script id="datalist-template" type="text/x-handlebars-template">
		<datalist id="songs-datalist">
			{{#each songs}}
				<option>{{this.[0]}}</option>
			{{/each}}
		</datalist>
	</script>
	{% endverbatim %}

	<script src="{% static "js/songs.js" %}"></script>
	<script src="{% static "js/handlebars.js" %}"></script>
	<script src="{% static "js/jquery-ui.js" %}"></script>
	<script src="{% static "js/test_edit.js" %}"></script>
{% endblock %}
