<!doctype html>

{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Grateful Dead Songs</title>
	<link href="{% static "css/reset.css" %}" rel="stylesheet">
	<link href="{% static "css/test_edit2.css" %}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="set">
			<div class="set-header">
				Set #1
			</div>
			<div class="set-body">
				<div class="song">
					Feel Like A Stranger
				</div>
				<div class="song">
					Franklins Tower
				</div>
				<div class="song">
					Me And My Uncle
				</div>
			</div>
		</div>
	</div>
	<script src="{% static "js/jquery-2.1.4.js" %}"></script>
</body>
